absl-py==0.12.0
asgiref==3.3.4
astor==0.8.1
astunparse==1.6.3
backcall==0.2.0
bleach==1.5.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.9
cvlib==0.2.6
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
decorator==4.4.2
Django==3.2
enum34==1.1.10
fire==0.4.0
Flask==1.1.2
Flask-Cors==3.0.10
flatbuffers==1.12
gast==0.4.0
gensim==4.0.1
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
gTTS==2.2.2
h5py==3.1.0
html5lib==0.9999999
idna==2.10
imageai==2.1.6
imageio==2.9.0
importlib-metadata==3.10.0
imutils==0.5.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keyboard==0.13.5
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.2
MouseInfo==0.1.3
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==2.0.3
networkx==2.5
nltk==3.6.2
numpy==1.19.3
oauthlib==3.1.0
opencv-contrib-python==3.4.2.17
opencv-python==4.5.1.48
opt-einsum==3.3.0
pandas==1.1.5
parso==0.8.2
pickleshare==0.7.5
pika==1.2.0
Pillow==7.2.0
playsound==1.2.2
progressbar==2.5
prompt-toolkit==3.0.18
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
Pygments==2.8.1
PyMsgBox==1.0.7
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.7
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
PyWavelets==1.1.1
pywin32==300
PyYAML==5.4.1
qimage2ndarray==1.8.3
redcmd==1.2.10
redlib==1.5.7
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.4.1
seaborn==0.11.1
six==1.15.0
sklearn==0.0
smart-open==5.0.0
sqlparse==0.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-gpu==1.15.0
termcolor==1.1.0
tesseract==0.1.3
threadpoolctl==2.1.0
tifffile==2020.9.3
torch==1.8.1
torchhelper==0.3.5.1.dev1
torchvision==0.9.1
tqdm==4.59.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.4
vlc-ctrl==1.0.8
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.1
zope.interface==5.4.0
